* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4e4ba;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 80%; /* Changed to a percentage for flexibility */
  max-width: 600px; /* Maximum width to ensure content doesn't stretch too far on large screens */
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
    width: 90%;
  }

  form input,
  form select,
  form button {
    font-size: 0.9rem;
    height: 2.5rem;
  }


  .dropdown i {
    font-size: 1.2rem;
    
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  form {
    margin: 1rem 0;
  }

  .dropdown,
  .select-container {
    flex-direction: column;
    align-items: stretch;
  }

  .dropdown i,
  .select-container img {
    margin: 0.5rem 0;
  }

  div.select-container{
    margin-left: 35%;
  }

  form i{
    padding-left: 44%;
  }
}
